@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.900");
    border-right-color: theme("colors.primary.200");
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* Menu Burger Animation */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation pour le menu hamburger */
.burger-icon-wrapper span {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Animation pour le menu */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* For data picker */

.rdp-root {
  --rdp-day-height: 2rem !important; /* The height of the day cells. */
  --rdp-day-width: 2rem !important; /* The width of the day cells. */
  --rdp-accent-color: theme("colors.accent.500") !important;
  --rdp-background-color: theme("colors.accent.600") !important;
  --rdp-font-family: inherit !important;
  --rdp-range_middle-background-color: theme(
    "colors.accent.600"
  ) !important; /* The color of the background for days in the middle of a range. */
  margin: 0 !important;
}
